node_modules
npm-debug.log
.git
.gitignore
*.md
.env
.DS_Store
.vscode
.idea

# Backend
backend/node_modules
backend/uploads/*
backend/db.sqlite

# Frontend
frontend/node_modules
frontend/dist

# Recognition
recognition/venv
recognition/__pycache__
recognition/*.pyc
recognition/*.pkl
recognition/.pytest_cache

